@layer base {
  :root {
    --body-background: 247 247 247;
    --footer-background: 244 245 247;

    --white: 255 255 255;
    --black: 0 0 0;

    --title-color: 18 20 18;
    --text-color: 149 149 149;
    --link-color: 223 141 77;
    --hr-color: 233 233 233;

    --primary: 21 82 239;
    --gray: 106 112 129;
    --error: 240 68 56;
    --warning: 247 144 9;
    --success: 18 183 106;

    --secondary: 244 245 247;
    --disabled: 189 189 189;

    --primary-25: 245 248 254;
    --primary-50: 231 237 253;
    --primary-100: 207 220 252;
    --primary-200: 160 184 248;
    --primary-300: 112 149 245;
    --primary-400: 64 114 242;
    --primary-500: 21 82 239;
    --primary-600: 13 63 191;
    --primary-700: 10 47 143;
    --primary-800: 7 31 95;
    --primary-900: 3 16 48;

    --gray-25: 249 250 250;
    --gray-50: 233 233 237;
    --gray-100: 213 215 221;
    --gray-200: 193 196 204;
    --gray-300: 165 169 181;
    --gray-400: 137 142 158;
    --gray-500: 106 112 129;
    --gray-600: 83 86 101;
    --gray-700: 64 67 78;
    --gray-800: 41 43 50;
    --gray-900: 23 24 28;

    --success-25: 246 254 249;
    --success-50: 236 253 243;
    --success-100: 209 250 223;
    --success-200: 166 244 197;
    --success-300: 108 233 166;
    --success-400: 50 213 131;
    --success-500: 18 183 106;
    --success-600: 3 152 85;
    --success-700: 2 122 72;
    --success-800: 5 96 58;
    --success-900: 5 79 49;

    --error-25: 255 251 250;
    --error-50: 254 243 242;
    --error-100: 254 228 226;
    --error-200: 254 205 202;
    --error-300: 253 162 155;
    --error-400: 249 112 102;
    --error-500: 240 68 56;
    --error-600: 217 45 32;
    --error-700: 180 35 24;
    --error-800: 145 32 24;
    --error-900: 122 39 26;

    --warning-25: 255 252 245;
    --warning-50: 255 250 235;
    --warning-100: 254 240 199;
    --warning-200: 254 223 137;
    --warning-300: 254 200 80;
    --warning-400: 253 176 34;
    --warning-500: 247 144 9;
    --warning-600: 220 104 3;
    --warning-700: 181 71 8;
    --warning-800: 147 55 13;
    --warning-900: 121 46 13;
  }

  /* .dark,
  [data-theme="dark"] {
    --body-background: 32 32 32;
    --footer-background: 14 27 14;

    --white: 15 15 15;
    --black: 235 235 235;

    --title-color: 255 255 255;
    --text-color: 232 232 232;
    --link-color: 255 172 110;
    --hr-color: 28 28 28;

    --primary: 100 153 255;
    --gray: 176 183 196;
    --error: 255 111 97;
    --warning: 255 175 57;
    --success: 43 220 133;

    --secondary: 37 37 37;
    --disabled: 122 122 122;

    --primary-25: 31 32 37;
    --primary-50: 40 43 66;
    --primary-100: 54 78 99;
    --primary-200: 80 102 132;
    --primary-300: 109 139 170;
    --primary-400: 140 173 200;
    --primary-500: 187 205 222;
    --primary-600: 213 224 236;
    --primary-700: 231 238 248;
    --primary-800: 240 244 252;
    --primary-900: 250 252 254;

    --gray-25: 41 44 53;
    --gray-50: 52 54 64;
    --gray-100: 59 62 74;
    --gray-200: 72 77 91;
    --gray-300: 90 95 113;
    --gray-400: 110 117 139;
    --gray-500: 139 148 161;
    --gray-600: 169 179 193;
    --gray-700: 207 169 169;
    --gray-800: 184 188 196;
    --gray-900: 216 221 228;

    --success-25: 31 62 36;
    --success-50: 42 102 58;
    --success-100: 65 163 84;
    --success-200: 91 193 127;
    --success-300: 126 210 157;
    --success-400: 160 226 187;
    --success-500: 194 243 217;
    --success-600: 213 248 233;
    --success-700: 232 252 243;
    --success-800: 242 253 247;
    --success-900: 251 254 251;

    --error-25: 63 23 23;
    --error-50: 124 47 47;
    --error-100: 168 76 76;
    --error-200: 212 105 105;
    --error-300: 255 140 140;
    --error-400: 255 162 162;
    --error-500: 255 185 185;
    --error-600: 255 205 205;
    --error-700: 255 223 223;
    --error-800: 255 237 237;
    --error-900: 255 244 244;

    --warning-25: 106 78 40;
    --warning-50: 181 140 79;
    --warning-100: 228 181 59;
    --warning-200: 255 211 97;
    --warning-300: 255 223 138;
    --warning-400: 255 235 175;
    --warning-500: 255 246 213;
    --warning-600: 255 250 227;
    --warning-700: 255 251 235;
    --warning-800: 255 252 244;
    --warning-900: 255 254 249;
  } */
}
